fastapi
sqlalchemy
mysqlclient
uvicorn[standard]==0.17.6
python-dotenv
python-jose[crypography]
passlib[bcrypt]
python-multipart
pydantic-settings

# Development dependencies
pre-commit==2.18.1
pytest==7.1.2
pytest-cov==3.0.0
black==22.3.0
